@import "tailwindcss"; 

@keyframes blink {
  0%, 100% {opacity: 1;}
  50% {opacity: 0;}
}

.blink {
  animation: blink 1s steps(1) infinite;
}
@keyframes prompt-pulse {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.8; }
}
.prompt-pulse {
  animation: prompt-pulse 1.5s infinite;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(8px);}
  to { opacity: 1; transform: translateY(0);}
}
.fade-in {
  animation: fadeIn 0.6s ease;
}
